<div class="container-width">
  <div class="container-about">
    <div>
      <h3>Aббревиатура RFM расшифровывается:</h3>
      <ul>
        <ol>Recency — давность (как давно ваши пользователи что-то у вас
          покупали).</ol>
        <ol> Frequency — частота (как часто они у вас покупают).</ol>
        <ol> Frequency — частота (как часто они у вас покупают).</ol>
        <ol>Monetary — деньги (общая сумма покупок).</ol>
      </ul>
      <p>По этим признакам можно разделить всех ваших клиентов на группы, понять,
        кто из клиентов покупает у вас часто и много, кто — часто, но мало, а кто
        вообще давно ничего не покупал.</p>

      <p>С каждой группой можно строить отдельные коммуникации: давать им разную
      рекламу и делать разные email-рассылки.</p> 
      <p>Например, группе постоянных
      VIP-клиентов высылать специальные предложения, а пользователям, которые
      давно не покупали — мотивирующую скидку, и настроить на них таргетированную
      рекламу.</p>
    </div>
</div>
</div>
