<div class="container-width">
  <h1>RFM analysis</h1>
  <div class="converter-container">
    <h2 class="convert-title">Convert here!</h2>
    <form data-type-upload  enctype="multipart/form-data" class="converter-form" >
      <input data-type-input type="file" name="file" />
    <button type="submit" class="converter-btn btn btn-primary btn-lg">Convert</button>
    </form>
  </div>
</div>
