<div class="container-register">
<form action="/auth/signin" method="POST" class="login-form">
    <input type="text" name="email" class="login-input" placeholder="Enter our email">

    <input type="password" name="password" class="login-input" placeholder="Enter our password">
  <button class="login-button" type="submit">LogIn</button>
</form>
</div>
