<div class="container-register">
  <form action="/auth/signup" method="POST" class="register-form">

    <input class="login-input" type="text" name="email" placeholder="Введите ваш email адрес"><br>

    <input class="login-input" type="password" name="password" placeholder="Введите ваш пароль"> <br>

    <input class="login-input" type="text" name="name" placeholder="Введите ваше имя"><br>

    <input class="login-input" type="text" name="surname" placeholder="Введите вашу фамилию"><br>
    <button class="login-button register-button" type="submit">Register</button>
  </form>
</div>
